.login {
    width: 100%;
    height: 100%;
    .login-header {
        display: flex;
        align-items: center;
    }
    .login-content {
        background-image: url(./images/bg.jpg);
        background-size: 100% 100%;
    }
}