.header {
    height: 80px;
    background-color: #fff;
}

.header-top {
    height: 40px;
    border-bottom: 1px green solid;
    line-height: 40px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-bottom {
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
}

.header-bottom-left {
    width: 25%;
    text-align: center;
    position: relative;
}

.header-bottom-left::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    border: 20px solid transparent;
    border-top-color: #fff;
    top: 100%;
}

.header-bottom-right {
    padding-right: 30px;
    width: 75%;
    text-align: right;
}

.header-bottom-right span {
    margin: 0 10px;
}