.linkButton {
    /* display: inline-block; */
    background-color: green;
    padding: 5px 10px;
    height: 35px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}